@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }

  /* shared style  */
  img{
    max-width: 100%;
  }
 .container{
  max-width: 1180px;
  margin: auto;
 }
  
/* 
.display-flex{
    display: flex;
} */

.header{
  

}

     
  

  /* nav style start */
.nav-title{
    font-size: 1.5rem;
  
}
  
  nav{
    display: flex;
    align-items: center;
   justify-content: space-between;
   margin: 95px 120px;


    
  }
  nav ul{
    display: flex;
    gap: 34px;
 align-items: center;


  }
  nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: rgba(58, 58, 58, 1);
    font-weight: 600;
  }
  nav ul li{
    list-style: none;
  }
  /* nav style end */

  /* banner style start */
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat; 
    background-position: right;
   
  }
  .banner-container{
    max-width: 582px;
   
  }
  .banner-title{
    font-size: 3.25rem;
    margin-bottom: 16px;
  }
  .banner-description{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .button{
    display: flex;
  }
  .btn{
    color: white;
    background-color: #E02C6D;
    font-size: 1rem;
    padding: 24px;
    border-radius: 30px;
    width: 196px;
    margin-bottom: 16px;
    border: none;
           
  }
  .banner-camera-pic{
    max-width: 440px;
  }

  /* our sponsor company style start */
  .our-sponsor{
    max-width: 1110px;
    height: 110px;
    
    margin: 0 auto;
  
    margin-bottom: 100px;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.1);
   

  }
  .sponsor-content{
    padding: 35px 30px;
  }
 
  .sponsor-company{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    
  }
  /* popular collection style start */
  .container{
    max-width: 1047px;
    margin: auto;
  }
  .collection-title{
    text-align: center;
    margin-bottom: 30px;

  }

  .collection-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* margin: 50px 195px; */
   
  }
  .collection-card{
   
    max-width: 329px;
    height: 476px;
    background-color: #ffffff;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 15px; 
    
  }
  .collection-card:hover{
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.4);
    cursor: pointer;
  }
 
 
  .card-title{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    margin-top: 5px;
  

  }
  .card-price{
    font-size: 1.5rem;
    font-weight: 300;
    
  }
  .card-rating{
    font-size: 0.83rem;
    font-weight: 400;
  
  }
  .rating-style{
    color: #FB8200;
    font-size: 0.70rem;
    display: inline;
  }
  
  .card-description{
    font-size: 0.87rem;
    font-weight: 400;
    color: #787885;
    line-height: 143%;
    letter-spacing: 1.8%;
  }
   
.see-more{
font-size: 1rem;
color: #E02C6D;
font-weight: 500;
text-align: right;


}
/* feature section start */
.feature{
    display: flex;
    gap: 96px;
    max-width: 1110px;
    /* height: 270px; */
  margin: 100px auto;

    
}
.feature-content{
    
    max-width: 610px;
    

}
.feature-title{
    font-size: 2.35rem;
    color: rgba(10, 8, 38, 1);
    margin-bottom: 10px;
    margin-top: 23px;
}
.feature-description{
    font-size: 1rem;
    color: rgba(108, 108, 108, 1);
    font-weight: 600;
    margin-bottom: 20px;

}
.btn-2{
    color: white;
    background-color: #E02C6D;
    font-size: 1rem;
    padding: 24px;

    width: 155px;
    margin-bottom: 16px;
           
}
/* footer section */
footer{
    background-color: #0A0826;
    height: 200px;
   
}
.footer-section{
    text-align: center;
    color: white;
    padding: 50px;
  
    
 
}
.footer-title{
    font-size: 1.5rem;
    margin-bottom: 5px;
    
}
.footer-description{
    font-size: 0.85rem;
    line-height: 24px;
    color: #D9DBE1;
    margin-bottom: 5px;
}
.all-right{
    font-size: 0.85rem;
    color: #D9DBE1;
}






/* small device responsive desing start  */

@media screen and (max-width:576px) {
  .nav-title{
    text-align: center;
  }
  nav{
    flex-direction:column;

  }
.banner{
  flex-direction: column-reverse;
 
  text-align: center;
  background-position: top;
  

  
}
.banner-title{
  font-size: 2rem;
}
.banner-description{
  padding: 15px;
}
.banner img{
  max-width: 100%;
}
.button{
 justify-content: center;
}
.sponsor-company{
  grid-template-columns: repeat(4,1fr);


}
.collection-container{
  grid-template-columns: repeat(1,1fr);
  
  
 
}
.collection-card{
  margin:0 auto;
  margin-bottom: 15px;

 

}

.feature{
  flex-direction: column-reverse;
}
.feature img{
  max-width: 100%;
  padding: 30px;
}
.feature-content{
  text-align: center;
}
}