@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }

  /* shared style  */



/* header */
.header{
    /* background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat; */
  
  
  
   
    
}
  /* nav style start */
.nav-title{
    font-size: 1.5rem;
  
}
  
  nav{
    display: flex;
    align-items: center;
   justify-content: space-between;
   margin: 95px 120px;


    
  }
  nav ul{
    display: flex;
    gap: 34px;
 align-items: center;


  }
  nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: rgba(58, 58, 58, 1);
    font-weight: 600;
  }
  nav ul li{
    list-style: none;
  }
  /* nav style end */

  /* banner style start */
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 157px 120px;
  }
  .banner-container{
    max-width: 582px;
   
  }
  .banner-title{
    font-size: 3.25rem;
    margin-bottom: 16px;
  }
  .banner-description{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .button{
    display: flex;
  }
  .btn{
    color: white;
    background-color: #E02C6D;
    font-size: 1rem;
    padding: 10px;
    border-radius: 30px;
    width: 196px;
    margin-bottom: 16px;
           
  }
  .banner-camera-pic{
    max-width: 440px;
  }